<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: </label><%= @landmark.name %><br><br>
  <label>Year Completed: </label><%= @landmark.year_completed %><br><br>
  <label>New Name: </label><input type="text" id="name" name="landmark[name]"><br><br>
  <label>New Year Completed: </label><input type="text" id="year_completed" name="landmark[year_completed]"><br><br>
  <input type="submit" value="Edit Landmark"><br><br>
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
